# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Streamlit files
.streamlit/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
